* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div,
section,
article,
nav,
header,
footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
}
.pad-10 {
    padding: 10px;
}
.pad-2side-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.mg-top-10 {
    margin-top: 10px;
}
.mg-bottom-10 {
    margin-bottom: 10px;
}
.mg-left-10 {
    margin-left: 10px;
}
.mg-right-10 {
    margin-left: 10px;
}
